<h2>{{title}}</h2>
<p>genre: {{genre}}</p>
<p>plot:{{plot}} </p>
{{#each celebrities}}
<h2>Name: {{this.name}}</h2>
<p>occupation: {{this.occupation}}</p>
<p>catchPhrase: {{this.catchPhrase}}</p>
{{/each}}